@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}

:root {
  --greyDarkColor: #888888;
  --mainColor: #3e9cb9;
  --neutralColor: #c9e4ee;
  --darkColor: #26667e;
  --textColor: #62b5ce;
  --lightColor: #e7f2f7;
  --blackColor: #000;
  --whiteColor: #fff;
  --greyColor: #ededed;
  --color: #f7f7f7;
  --redColor: #ff0000;
  --greenColor: #298f00;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.headerText {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.logoText {
  font-weight: bolder;
  font-size: 18px;
  color: var(--blackColor);
}

.signInText {
  color: var(--blackColor);
  font-weight: bold;
}

.signUpContainer,
.signInContainer {
  height: calc(100vh - 82px);
}

.signUpContainerRight,
.signInContainer {
  padding: 3% 5%;
}

.signUpContainerRightContainer,
.signInContainerRightContainer {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.titleText {
  font-size: 2.5rem;
  font-weight: bold;
}

.spanText {
  font-size: 12px;
  color: var(--greyDarkColor);
}

.buttonFacebook {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: solid 0.5px var(--neutralColor);
}

.buttonFacebook img {
  width: 32px;
  height: 32px;
}

.buttonTextDark {
  font-size: 16px;
  color: var(--blackColor);
}

.orClass {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lineOr {
  width: 176px;
  height: 0.5px;
  background-color: var(--neutralColor);
}

.orText {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.inputForm {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px var(--neutralColor);
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.selectOptionWilaya {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px var(--neutralColor);
  padding: 0 16px;
  outline: none;
}

.inputForm input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding-left: 16px;
  font-size: 13px;
}

.selectStoreWilayaCommune {
  width: 300px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px var(--neutralColor);
  padding: 0 16px;
  display: flex;
}

.selectStoreWilayaCommune select {
  outline: none;
  width: 100%;
}

.inputIcon {
  width: 24px;
  color: #26667e;
}

.inputItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.spanBottom {
  position: absolute;
  bottom: 0;
}

.buttonDark,
.buttonDarkSave,
.buttonLight {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--darkColor);
}
.buttonLight {
  width: 100px;
  background-color: var(--greyColor);
}

.buttonDarkSave,
.buttonDelete,
.buttonLight {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
}

.buttonDarkSave {
  width: 100px;
}

.buttonDelete {
  background-color: rgb(255, 0, 0, 0.1);
}

.buttonTextDelete {
  color: var(--redColor);
}

.buttonTextLight {
  font-size: 16px;
  color: var(--whiteColor);
}

.logInForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  margin-top: 32px;
}

.logInForm form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logInForm .signInText {
  color: var(--darkColor);
}

.aside {
  position: fixed;
  width: 17%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--neutralColor);
  padding: 8% 1% 1% 1%;
}

.aside ul {
  height: 100%;
  padding-right: 0;
  position: relative;
  overflow-y: scroll;
}

.itemAsideBar,
.settingItem {
  width: 100%;
  min-height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.settingItem {
  cursor: pointer;
  padding-left: 16px;
}

.AuthenticationItemAsideBar {
  padding-right: 0;
}

.asideItemActive,
.settingItemToggle {
  width: 100%;
  background-color: var(--neutralColor);
  border-radius: 5px;
}

.asideItemActive span,
.settingItemToggle span {
  color: var(--darkColor);
}

.asideItemActive .iconAsideBar,
.settingItemToggle .iconAsideBar {
  color: var(--darkColor);
}

.iconAsideBar {
  width: 22px;
  cursor: pointer;
}

.iconPages {
  width: 26px;
}

.headerP {
  font-size: 14px;
  color: var(--blackColor);
}

.headerSpan {
  font-size: 12px;
  color: var(--greyDarkColor);
}

.product {
  display: none;
}

.productVisible .product {
  display: flex;
}

.pagesContainer {
  overflow: hidden;
  width: calc(100% - 17%);
  min-height: 100vh;
  background-color: var(--lightColor);
  height: fit-content;
  position: absolute;
  left: 17%;
  top: 0;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.settingsContainer {
  width: 100%;
  left: 0;
  height: 100vh;
}

.settingsContainer .pageTable {
  padding: 0;
  height: calc(100vh - 48px);
  gap: 0;
}

.settingsRightHeader {
  height: 70px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--neutralColor);
}

.settingsLeft {
  width: 20%;
  height: 100%;
  border-right: 1px solid var(--neutralColor);
  padding: 20px 25px;
}

.settingsRight {
  width: 80%;
  padding: 20px 25px;
}

.settingsRightContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.settingsRightScroll {
  height: calc(100vh - 48px - 40px - 70px - 16px);
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.settingsRightScroll::-webkit-scrollbar,
.topAsideBar::-webkit-scrollbar {
  display: none;
}

.deleteContainer {
  width: 100%;
  background-color: #f3f7f8;
  padding: 20px 25px;
  border-radius: 10px;
}

.deleteSpan {
  font-family: Montserrat-Medium;
}

.pagesTitle {
  font-size: 26px;
  font-family: Montserrat-Medium;
  color: var(--blackColor);
}

.pagesSousTitle {
  font-size: 12px;
  font-family: Montserrat-Medium;
  color: var(--greyDarkColor);
}

.dashboardCard,
.orderCard,
.customerPrimaryDelivery,
.customerStatsCard {
  width: 33.33%;
  height: 180px;
  border-radius: 20px;
  padding: 15px 20px;
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderCard {
  width: 25%;
}

.customerPrimaryDelivery,
.customerStatsCard {
  width: 100%;
  border: 1px solid var(--neutralColor);
}

.customerStatsCard {
  width: 33.33%;
}

.dashboardCardTitle,
.dashboardLatestOrdersDetails {
  color: var(--blackColor);
  font-size: 16px;
  font-family: Montserrat-Medium;
}

.dashboardCardAmount {
  color: var(--blackColor);
  font-size: 28px;
  font-family: Montserrat-Medium;
}

.dashboardCard:first-child {
  background-color: var(--neutralColor);
}

.dashboardCard:first-child .dashboardCardTitle,
.dashboardCard:first-child .dashboardCardAmount {
  color: var(--darkColor);
}

.dashboadChart,
.dashboardTopSellingProduct,
.dashboardLatestOrders,
.dashboadStoreStatistic,
.dashboardNewCostumers,
.pageTable,
.customerClass {
  width: 50%;
  height: 500px;
  border-radius: 10px;
  background-color: var(--whiteColor);
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customerClass{
  padding-bottom: 10px;
  padding-top: 10px;
}

.paddingClass{
  padding: 20px 25px;
}

.dashboardTopSellingProduct {
  width: 40%;
}

.dashboadChart {
  width: 60%;
}

.pageTable {
  width: 100%;
  height: calc(100vh - 13vh - 32px - 48px);
  justify-content: flex-start;
  gap: 16px;
}

.pageContainerCards .pageTable{
  /* min-height: calc(60vh - 32px - 47px); */
  height: calc(100vh - 32px);
}

.pageTableContainer {
  overflow: hidden;
}

.dashboardLatestOrders {
  width: 100%;
}

.dashboadStoreStatistic,
.dashboardNewCostumers {
  width: 33%;
}

.dashboardTitleItem {
  font-size: 18px;
  color: var(--blackColor);
  font-family: Montserrat-Medium;
}

.cercleChartItemRevenue,
.cercleChartItemOrder,
.cercleAvailable {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--darkColor);
}

.cercleAvailableRed {
  background-color: var(--redColor);
}

.cercleChartItemRevenue {
  background-color: var(--mainColor);
}

.spanChartItemOrder,
.spanChartItemRevenue {
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: var(--darkColor);
}

.spanChartItemRevenue {
  color: var(--mainColor);
}

.selectOptionChart,
.selectOptionOrderType {
  border-radius: 5px;
  border: 1px solid var(--neutralColor);
  padding: 4px 8px;
  outline: none;
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: var(--blackColor);
}

.selectOptionOrderType {
  width: 140px;
}

.seeSpan {
  color: var(--greyDarkColor);
  font-size: 14px;
  cursor: pointer;
}

.dashboardTopSellingProductItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.dashboardText {
  font-size: 14px;
  color: var(--blackColor);
}

.dashboardSpan {
  font-size: 12px;
  color: var(--greyDarkColor);
}

.spanAvailable {
  font-size: 14px;
}

.spanAvailableGreen {
  color: var(--darkColor);
}

.spanAvailableRed {
  color: var(--redColor);
}

.dashboardProductClass,
.dashboardNewCostumersClass {
  width: 100%;
  height: 410px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  /* scrollbar-width: none;
  -ms-overflow-style: none; */
}

.dashboardProductClass{
  overflow-y: scroll;
}


.productImgClass{
  width: 80px;
  height: 80px;
}

.productImg {
  height: 100%;
  width: 80%;
  object-fit: contain;
}

:root {
  --sb-track-color: #c9e4ee;
  --sb-thumb-color: #26667e;
  --sb-size: 6px;
  --sb-border-radius: 4px;
}

::-webkit-scrollbar{
  width: var(--sb-size);
  height: var(--sb-size);
}

::-webkit-scrollbar-thumb{
  background: var(--sb-thumb-color);
  border-radius: var(--sb-border-radius);
}
::-webkit-scrollbar-button{
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

.signIn,
.signUp {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--whiteColor);
}

.tableContainer {
  height: 420px;
}

.buttonAdd,
.buttonExport {
  width: fit-content;
  padding: 10px 20px;
  /* width: 200px; */
  height: 48px;
  background-color: var(--darkColor);
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
}

.buttonAdd .iconAsideBar {
  color: var(--whiteColor);
}

.buttonExport {
  background-color: var(--greyColor);
}

.thTableSpan {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.trTableSpan {
  font-size: 14px;
  color: var(--blackColor);
  font-family: Montserrat-Medium;
}

.thDetails,
.trDetails {
  font-size: 13px;
}

.calendar {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--whiteColor);
  padding: 0 15px;
  padding-right: 0;
  outline: none;
  cursor: pointer;
}

.tablePages {
  max-height: 100%;
  overflow-y: auto;
}

.tableHead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.iconTable {
  width: 20px;
}

.activeClass {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--redColor);
  cursor: pointer;
}
.activeClass.yellow {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--greenColor);
  cursor: pointer;
}

.inactiveSpan {
  color: var(--redColor);
}
.inactiveSpan.yellow {
  color: var(--greenColor);
}

.productSpan {
  font-size: 14px;
  color: var(--blackColor);
}

.orderProfileSpan {
  font-size: 14px;
  color: var(--greyDarkColor);
  font-family: Montserrat-Medium;
}

.productCard {
  width: 200px;
  height: 290px;
  border-radius: 20px;
  border: 1px solid var(--neutralColor);
  cursor: pointer;
}

.productCard .productName {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage {
  width: 100%;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.productsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 10px 0px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 16px;
  column-gap: 10px;
  overflow: auto;
}

.customerClass {
  width: 100%;
  height: fit-content;
  gap: 16px;
}

.customerClassTitle {
  font-size: 18px;
  font-family: Montserrat-Medium;
  color: var(--blackColor);
}

.timeLineStatus {
  width: 90%;
  height: 40px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background-color: var(--greyColor);
}

.timeLineStatusSpan {
  color: var(--greyDarkColor);
  font-size: 12px;
  font-family: Montserrat-Medium;
}

.orderStatus {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.personalInformation,
.customerPrimaryAddress,
.settingPersonalInformation {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

.settingPersonalInformation {
  width: 85%;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
}

.customerPrimaryAddress {
  grid-template-columns: repeat(auto-fill, minmax(0, 30%));
}

.personalInformationSpan {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.personalInformationDetails {
  font-family: Montserrat-Medium;
  color: var(--blackColor);
  font-size: 14px;
}

.primaryDeliveryAddressSpan {
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: var(--blackColor);
}

.editable-input,
.inputTable {
  border: 1px solid #ccc;
  padding: 4px;
  padding-left: 8px;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: var(--blackColor);
  font-family: Montserrat-Medium;
}
.inputTable {
  width: 200px;
}

.inputBoxes,
.inputSelect {
  width: 100px;
}

.hidden {
  display: none !important;
}

.uploadClass {
  border-radius: 10px;
  border: 1px solid var(--neutralColor);
  padding: 0 20px;
}

.uploadSpan {
  font-size: 14px;
  color: var(--greyDarkColor);
  cursor: pointer;
}

.uploadSpanMedium {
  color: #000;
  font-family: Montserrat-Medium;
}

.image-preview {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
}

.image-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personalInformationInput {
  width: 400px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid var(--greyDarkColor);
}

.addOrder .pageTable {
  height: fit-content;
}

.addOrder .pageTableContainer {
  height: fit-content;
}

.addOrder .pageTable .buttonAdd {
  background-color: transparent;
  border: 1px solid var(--neutralColor);
}
.addOrder .pageTable .buttonAdd span {
  color: var(--darkColor);
}

.addOrder .pageTable .buttonAdd .iconAsideBar {
  color: var(--darkColor);
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.inputWrapper input {
  padding-right: 30px;
}

.inputSpan {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: var(--blackColor);
  font-family: Montserrat-Medium;
}

.dialogTitle {
  font-size: 20px;
  font-family: Montserrat-Medium;
}

.cercleIcon {
  width: 50px;
  height: 50px;
  border: 0.5px solid var(--neutralColor);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cercleIcon .iconAsideBar {
  width: 24px;
}

.dialogAdd .title {
  padding: 20px;
  border-bottom: 1px solid var(--neutralColor);
}

.dialogAddCustomerItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dialogAddCustomerItem .inputForm {
  width: 500px;
}

.dialogAddCustomerItem input {
  padding-left: 0;
}

.selectStoreCategory {
  width: 100%;
  height: 100%;
  outline: none;
}

.selectStoreWilayaCommuneClass {
  width: 200px;
}

.productCard {
  border: 1px solid #ddd;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.productCard.selected {
  border: 2px solid var(--darkColor);
  background-color: var(--neutralColor);
}

.productName {
  margin-top: 10px;
}

.checkCercle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--lightColor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.checkCercleActive {
  background-color: var(--mainColor);
}

.orderStatusIcon {
  width: 18px;
  color: var(--whiteColor);
}

.orderStatusItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
  gap: 32px;
}
.orderStatusItem {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.orderStatusItem .iconAsideBar {
  color: var(--mainColor);
  width: 26px;
}

.orderStatusItemSpans {
  display: flex;
  flex-direction: column;
}

.buttonBorder {
  background-color: var(--whiteColor);
  border: 1px solid var(--neutralColor);
}

.buttonBorder span {
  color: var(--darkColor);
}

.buttonBorder .iconAsideBar {
  color: var(--darkColor);
}

.storyCategoryClass {
  width: 100%;
  padding: 15px 20px;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
}

.storyCategoryItem {
  text-align: center;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid var(--neutralColor);
}

.storyCategoryItem:hover {
  background-color: #e0e0e0;
}

.storyCategoryItem.selected {
  border: 2px solid var(--darkColor);
  background-color: var(--neutralColor);
}

.selectedCategories {
  margin: 10px 0;
}

.selectedCategories {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.categoryChip {
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
}

.deleteIcon {
  margin-left: 8px;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

.deleteIcon:hover {
  color: red;
}

.imageBorder img {
  border-radius: 10px;
  border: 1px solid var(--neutralColor);
}

.scrollProductHistorique {
  max-height: 335px;
  height: fit-content;
  overflow-y: scroll;
}

.addProductModalHeader {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.addNewStockClass {
  display: flex;
  gap: 8px;
}

.productDetailsStock {
  border-left: 1px solid var(--neutralColor);
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-left: 32px;
}

.productDetailsStockProduct {
  margin-top: 32px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.productDetailsStock .dialogAddCustomerItem {
  width: 100%;
  justify-content: space-between;
}

.productDetailsStock .dialogAddCustomerItem .inputForm {
  width: 200px;
}

.addProductAchat .dialogAddCustomerItem .inputForm {
  width: 350px;
}

.orderProfileButtons {
  display: flex;
  gap: 16px;
}

.addProductToAchatButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pubSwiper {
  width: 100%;
  height: 300px;
}

.swiperSlide img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 0;
}

.trashIcon {
  z-index: 1;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
  opacity: 0;
}

.swiperSlide:hover .trashIcon {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

.stockClass .dialogAddCustomerItem {
  width: 210px;
}

.stockClass .dialogAddCustomerItem .inputForm {
  width: 100px;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
}

.HeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Toggle Icon */
.toggleIcon {
  position: fixed;
  overflow: scroll;
  top: 1rem;
  left: 1rem;
  z-index: 20;
  background-color: #f0f0f0;
  border-radius: 50%;
  padding: 0.5rem;
  z-index: 10;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sidebar styles */
.asideMedia {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 65vw;
  background-color: var(--whiteColor);
  padding: 2rem 1rem;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 9999;
}

.asidemediaActive {
  left: 0;
}

/* Sidebar Item */
.topAsideBar {
  list-style: none;
  padding: 0;
  margin: 0;
}

.asidebarMedia ul {
  overflow: scroll;
  height: 100%;
}

.itemAsideBar {
  display: flex;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  color: #4a5568;
  font-weight: 500;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.itemAsideBar:hover {
  background-color: #edf2f7;
  color: #2d3748;
}

.iconAsideBar {
  width: 20px;
  height: 20px;
  color: #a0aec0;
}

/* Active state for sidebar item */
.asideItemActive {
  background-color: #e2e8f0;
  color: #2b6cb0;
  left: 0;
}

.asideItemActive .iconAsideBar {
  color: #2b6cb0;
}

.asidebarMedia {
  top: 0;
  padding-top: 5rem;
  left: 0;
  z-index: 99999;
  width: 100%;
}

/* Text next to the icon in sidebar */
.ml-3 {
  margin-left: 0.75rem;
}

/* For the settings button */
.itemAsideBar:last-child {
  margin-top: auto;
}

.asideMedia {
  display: none;
}

.signUpContainerLeft {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
}

.signUpContainerRight {
  width: 60%;
}

.pagesContainerTop {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.titlePageButton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

.DateRangeSelector {
  gap: 16px;
}

.span-input {
  display: flex;
  gap: 20px;
  align-items: center;
}

.productPicture {
  display: flex;
  align-items: center;
  gap: 16px;
}

.uploadClass {
  width: 404px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.WilayaCommuneClass {
  display: flex;
  align-items: center;
  gap: 32px;
}

.productModal {
  border: none;
  border-radius: 8px;
  /* padding: 20px; */
  width: 30%;
  margin: auto;
  z-index: 1001;
  background-color: var(--whiteColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
}

.justifyEnd{
  display: flex;
  flex-direction: column;
  align-items: end;
}

.addNewModal {
  border: none;
  border-radius: 8px;
  padding: 20px;
  width: 50%;
  margin: auto;
  z-index: 1001;
  background-color: var(--whiteColor);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 90%;
  overflow-y: scroll;
  height: fit-content;
}

.PaymentHistory{
  width: 80%;
}

.addNewCustomerModal {
  width: fit-content;
}

.addNewStockModal {
  width: 95%;
}

.wilayaCommune {
  gap: 32px;
}

.customerOrdersClass {
  height: calc(100vh - 32px);
  /* max-height: 500px; */
}


/* Mobile and tablet */
@media screen and (max-width: 1023px) {
  .asideMedia {
    display: flex;
  }
  .signIn {
    width: 100%;
    height: 100%;
    /* background-color: red; */
  }

  .signInContainerRightContainer {
    width: 100vw;
  }

  .inputItem,
  .buttonDark,
  .buttonFacebook,
  .orClass {
    width: 80%;
  }

  .inputForm {
    width: 100%;
  }

  .signInContainer {
    padding: 0;
  }

  .logInForm {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logInForm form {
    width: 100%;
    align-items: center;
  }

  .aside {
    display: none;
  }

  .barsIcon {
    display: flex;
    z-index: 9999;
  }

  .pagesContainer {
    overflow: hidden;
    width: 100%;
    left: 0;
  }

  .addProductModalHeader {
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .DateRangeSelector {
    flex-direction: column;
    gap: 16px;
    align-items: flex-end;
  }

  .titlePageButton {
    display: flex;
    gap: 16px;
    margin-top: 16px;
    align-items: start;
    justify-content: start;
    flex-direction: column;
  }

  .dateRangeSelector,
  .buttonTop {
    width: inherit;
  }

  .buttonTop {
    display: flex;
    justify-content: end;
  }

  .pagesContainerTop {
    min-height: 18vh;
    height: fit-content;
  }

  .settingsContainer .pageTable {
    flex-direction: column;
  }

  .settingsLeft {
    flex-direction: row;
    width: 100%;
  }

  .settingsBar {
    flex-direction: row;
  }

  .settingItem {
    width: 40%;
  }

  .productModal {
    width: 85%;
  }

  .addNewModal {
    width: 85%;
    height: 90%;
    overflow-y: scroll;
  }

  .dialogAddCustomerItem .inputForm,
  .dialogAddCustomerItem .selectStoreWilayaCommune {
    width: 100%;
  }

  .dialogAddCustomerItem,
  .WilayaCommuneClass {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .wilayaCommune {
    gap: 32px;
  }

  .uploadClass,
  .WilayaCommuneClass .selectStoreWilayaCommune,
  .WilayaCommuneClass .selectStoreWilayaCommune select {
    width: 100%;
  }

  .WilayaCommuneClass {
    width: 100%;
  }
}

/*Tablet */

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .productsContainer {
    /* row-gap: 0px; */
    column-gap: 0px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }

  .searchInput {
    width: 400px;
  }
}

/* Mobile*/

@media screen and (max-width: 767px) {
  .inputItem span,
  .buttonTextLight,
  .headerText,
  a,
  .buttonTextDark,
  .pageTable span {
    font-size: 14px;
  }

  .pagesTitle {
    font-size: 20px;
  }

  .buttonFacebook img {
    width: 26px;
    height: 26px;
  }

  .titleText {
    font-size: 2rem;
  }

  .signUpContainerLeft {
    display: none;
  }

  .signUpContainerRight {
    width: 100%;
    border: 0;
    padding-top: 3rem;
  }

  .selectStoreWilayaCommune select {
    font-size: 14px;
  }

  .pagesContainerTop {
    min-height: 18vh;
    height: fit-content;
  }

  .pageTable {
    height: calc(100vh - 18vh - 16px - 48px);
  }

  .span-input {
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }

  .selectStoreWilayaCommune {
    width: 100%;
  }

  .addProductModalHeader {
    gap: 12px;
  }

  .pagesContainer {
    gap: 16px;
  }

  .pageTableContainer {
    margin-top: 8px;
  }

  .productsContainer {
    place-items: center;
  }

  .productPicture {
    flex-direction: column;
    align-items: flex-start;
  }
}
