@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Medium;
  src: url(./assets/fonts/Montserrat-Medium.ttf);
}

:root {
  --greyDarkColor: #888888;
  --mainColor: #3e9cb9;
  --neutralColor: #c9e4ee;
  --darkColor: #26667e;
  --textColor: #62b5ce;
  --lightColor: #e7f2f7;
  --blackColor: #000;
  --whiteColor: #fff;
  --greyColor: #ededed;
  --color: #f7f7f7;
  --redColor: #ff0000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}

.headerText {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.logoText {
  font-weight: bolder;
  font-size: 18px;
  color: var(--blackColor);
}

.signInText {
  color: var(--blackColor);
  font-weight: bold;
}

.signUpContainer,
.signInContainer {
  height: calc(100vh - 82px);
}

.signUpContainerRight,
.signInContainer {
  padding: 3% 5%;
}

.signUpContainerRightContainer,
.signInContainerRightContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
}

.titleText {
  font-size: 58px;
  font-weight: bold;
}

.spanText {
  font-size: 12px;
  color: var(--greyDarkColor);
}

.buttonFacebook {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: solid 0.5px var(--neutralColor);
}

.buttonFacebook img {
  width: 32px;
  height: 32px;
}

.buttonTextDark {
  font-size: 16px;
  color: var(--blackColor);
}

.orClass {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.lineOr {
  width: 176px;
  height: 0.5px;
  background-color: var(--neutralColor);
}

.orText {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.inputForm {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  border: solid 1px var(--neutralColor);
  display: flex;
  align-items: center;
  padding: 0 16px;
}

.inputForm input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background-color: transparent;
  padding-left: 16px;
  font-size: 13px;
}

.inputIcon {
  width: 24px;
  color: #26667e;
}

.inputItem {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.spanBottom {
  position: absolute;
  bottom: 0;
}

.buttonDark {
  width: 400px;
  height: 50px;
  border-radius: 5px;
  background-color: var(--darkColor);
}

.buttonTextLight {
  font-size: 16px;
  color: var(--whiteColor);
}

.logInForm {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
  align-items: center;
}

.logInForm form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.logInForm .signInText {
  color: var(--darkColor);
}

aside {
  position: fixed;
  width: 13%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--neutralColor);
  padding: 8% 1% 0 1%;
}

aside ul {
  height: 90%;
  position: relative;
}

.itemAsideBar {
  width: 100%;
  height: 40px;
  padding-left: 8px;
  padding-right: 8px;
}

.AuthenticationItemAsideBar {
  padding-right: 0;
}

.asideItemActive {
  width: 100%;
  height: 40px;
  background-color: var(--neutralColor);
  border-radius: 5px;
}

.asideItemActive span {
  color: var(--darkColor);
}

.asideItemActive .iconAsideBar {
  color: var(--darkColor);
}

.iconAsideBar {
  width: 22px;
  cursor: pointer;
}

.iconPages {
  width: 26px;
}

.headerP {
  font-size: 14px;
  color: var(--blackColor);
}

.headerSpan {
  font-size: 12px;
  color: var(--greyDarkColor);
}

.product {
  display: none;
}

.productVisible .product {
  display: flex;
}

.pagesContainer {
  overflow: hidden;
  width: calc(100% - 13%);
  min-height: 100vh;
  padding: 16px 0;
  background-color: var(--lightColor);
  height: fit-content;
  position: absolute;
  left: 13%;
  top: 0;
  padding: 24px 24px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.pagesTitle {
  font-size: 26px;
  font-family: Montserrat-Medium;
  color: var(--blackColor);
}

.pagesSousTitle {
  font-size: 12px;
  font-family: Montserrat-Medium;
  color: var(--greyDarkColor);
}

.dashboardCard,
.orderCard,
.customerPrimaryDelivery,
.customerStatsCard {
  width: 33.33%;
  height: 180px;
  border-radius: 20px;
  padding: 15px 20px;
  background-color: var(--whiteColor);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.orderCard {
  width: 25%;
}

.customerPrimaryDelivery,
.customerStatsCard {
  width: 100%;
  border: 1px solid var(--neutralColor);
}

.customerStatsCard {
  width: 33.33%;
}

.dashboardCardTitle,
.dashboardLatestOrdersDetails {
  color: var(--blackColor);
  font-size: 16px;
  font-family: Montserrat-Medium;
}

.dashboardCardAmount {
  color: var(--blackColor);
  font-size: 28px;
  font-family: Montserrat-Medium;
}

.dashboardCard:first-child {
  background-color: var(--neutralColor);
}

.dashboardCard:first-child .dashboardCardTitle,
.dashboardCard:first-child .dashboardCardAmount {
  color: var(--darkColor);
}

.dashboadChart,
.dashboardTopSellingProduct,
.dashboardLatestOrders,
.dashboadStoreStatistic,
.dashboardNewCostumers,
.pageTable,
.customerClass {
  width: 50%;
  height: 500px;
  border-radius: 10px;
  background-color: var(--whiteColor);
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customerOrdersClass {
  max-height: 500px;
}

.dashboardTopSellingProduct {
  width: 40%;
}

.dashboadChart {
  width: 60%;
}

.pageTable {
  width: 100%;
  height: 78vh;
  justify-content: flex-start;
  gap: 16px;
}

.ordersTable {
  max-height: 78vh;
  min-height: 55vh;
  height: fit-content;
}

.pageTableContainer {
  height: 90%;
}

.dashboardLatestOrders {
  width: 100%;
}

.dashboadStoreStatistic,
.dashboardNewCostumers {
  width: 33%;
}

.dashboardTitleItem {
  font-size: 18px;
  color: var(--blackColor);
  font-family: Montserrat-Medium;
}

.cercleChartItemRevenue,
.cercleChartItemOrder,
.cercleAvailable {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--darkColor);
}

.cercleAvailableRed {
  background-color: var(--redColor);
}

.cercleChartItemRevenue {
  background-color: var(--mainColor);
}

.spanChartItemOrder,
.spanChartItemRevenue {
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: var(--darkColor);
}

.spanChartItemRevenue {
  color: var(--mainColor);
}

.selectOptionChart,
.selectOptionOrderType {
  border-radius: 5px;
  border: 1px solid var(--neutralColor);
  padding: 4px 8px;
  outline: none;
  font-size: 14px;
  font-family: Montserrat-Medium;
  color: var(--blackColor);
}

.selectOptionOrderType {
  width: 140px;
}

.seeSpan {
  color: var(--greyDarkColor);
  font-size: 14px;
  cursor: pointer;
}

.dashboardTopSellingProductItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.dashboardText {
  font-size: 14px;
  color: var(--blackColor);
}

.dashboardSpan {
  font-size: 12px;
  color: var(--greyDarkColor);
}

.spanAvailable {
  font-size: 14px;
}

.spanAvailableGreen {
  color: var(--darkColor);
}

.spanAvailableRed {
  color: var(--redColor);
}

.dashboardProductClass,
.dashboardNewCostumersClass {
  width: 100%;
  height: 410px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.productImg {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* Hide scrollbar for WebKit browsers */
.dashboardProductClass::-webkit-scrollbar,
.tablePages::-webkit-scrollbar,
.productsContainer::-webkit-scrollbar {
  width: 0;
  background: transparent;
  /* Make scrollbar transparent */
}

/* Show scrollbar on hover */
.dashboardProductClass:hover,
.tablePages:hover,
.productsContainer:hover {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  /* Set scrollbar colors for Firefox */
}

/* Show scrollbar for WebKit browsers on hover */
.dashboardProductClass:hover::-webkit-scrollbar,
.tablePages:hover::-webkit-scrollbar,
.productsContainer:hover::-webkit-scrollbar {
  width: 10px;
}

.dashboardProductClass:hover::-webkit-scrollbar-thumb,
.tablePages:hover::-webkit-scrollbar-thumb,
.productsContainer:hover::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.dashboardProductClass:hover::-webkit-scrollbar-track,
.tablePages:hover::-webkit-scrollbar-track,
.productsContainer:hover::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.signIn,
.signUp {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: var(--whiteColor);
}

.tableContainer {
  height: 420px;
}

.buttonAdd,
.buttonExport {
  width: fit-content;
  padding: 10px 20px;
  /* width: 200px; */
  height: 48px;
  background-color: var(--darkColor);
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
}

.buttonAdd .iconAsideBar {
  color: var(--whiteColor);
}

.buttonExport {
  background-color: var(--greyColor);
}

.thTableSpan {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.trTableSpan {
  font-size: 14px;
  color: var(--blackColor);
  font-family: Montserrat-Medium;
}

.thDetails,
.trDetails {
  font-size: 13px;
}

.calendar {
  width: 200px;
  height: 48px;
  border-radius: 10px;
  background-color: var(--whiteColor);
  padding: 0 15px;
  padding-right: 0;
  outline: none;
  cursor: pointer;
}

.tablePages {
  max-height: 100%;
  overflow-y: auto;
}

.tableHead {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.iconTable {
  width: 20px;
}

.activeClass {
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid var(--redColor);
  cursor: pointer;
}

.inactiveSpan {
  color: var(--redColor);
}

.productSpan {
  font-size: 14px;
  color: var(--blackColor);
}

.orderProfileSpan {
  font-size: 14px;
  color: var(--greyDarkColor);
  font-family: Montserrat-Medium;
}

.productCard {
  width: 200px;
  height: 280px;
  border-radius: 20px;
  border: 1px solid var(--neutralColor);
  cursor: pointer;
}

.productCard .productName {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productImage {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: end;
  justify-content: center;
}

.productImage img {
  width: 100%;
  height: 90%;
  object-fit: contain;
}

.productsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  padding: 10px 0px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 16px;
  column-gap: 10px;
  overflow: auto;
}

.customerClass {
  width: 100%;
  height: fit-content;
  gap: 16px;
}

.customerClassTitle {
  font-size: 18px;
  font-family: Montserrat-Medium;
  color: var(--blackColor);
}

.personalInformation,
.customerPrimaryAddress {
  width: 100%;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

.customerPrimaryAddress {
  grid-template-columns: repeat(auto-fill, minmax(0, 30%));
}

.personalInformationSpan {
  font-size: 14px;
  color: var(--greyDarkColor);
}

.personalInformationDetails {
  font-family: Montserrat-Medium;
  color: var(--blackColor);
  font-size: 14px;
}

.primaryDeliveryAddressSpan {
  font-size: 14px;
  font-family: Montserrat-Medium;

  color: var(--blackColor);
}

.container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #4f81ff;
  overflow: hidden;
}

.container:before {
  content: "";
  position: absolute;
  width: 2000px;
  height: 2000px;
  background: linear-gradient(-45deg, #fff, #fff);
  top: -10px;
  right: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 6;
  transition: 1.8s ease-in-out;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.login-signin {
  position: absolute;
  top: 50%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
  transition: 1s 0.7s ease-in-out;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 5rem;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: 0.2s 0.7s ease-in-out;
}

form.login-in-form {
  z-index: 2;
}

form.sign-in-form {
  z-index: 1;
  opacity: 0;
}

.title-login {
  text-transform: capitalize;
  color: #fff;
  font-weight: 600;
  line-height: 36px;
  font-size: 30px;
  margin-bottom: 53px;
}

.input-field label {
  font-weight: 500;
  font-size: 18px;
  line-height: 21.6px;
  color: #fff;
  text-transform: capitalize;
  margin-left: 10px;
}

.input-field {
  display: flex;
  flex-direction: column;
}

.email {
  margin-bottom: 14px;
}

.input-field input,
.input-field select {
  width: 392px;
  height: 60px;
  border-radius: 20px;
  font-size: 14px;
  padding-left: 3%;
  background-color: #fff;
  border: none;
  outline: none;
}

.input-field select {
  cursor: pointer;
}

.input-field input::-webkit-input-placeholder {
  color: rgb(186, 186, 186);
}

.input-field input::placeholder,
.sign-in-form .input-field select {
  color: rgb(186, 186, 186);
}

.sign-in-form .input-field input,
.sign-in-form .input-field select {
  width: 362px;
  height: 50px;
  border-radius: 10px;
  font-size: 12px;
}

.sign-in-form .input-field label {
  font-size: 15px;
}

.forget-class {
  margin-top: 6px;
  width: 392px;
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

.forget-class a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  color: rgba(6, 14, 48, 0.5);
  opacity: 0.7;
  text-decoration: none;
  cursor: pointer;
}

.forget-class a:hover {
  opacity: 1;
}

.btn-solid {
  width: 392px;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #fff;
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
}

.btn-solid:hover {
  background-color: rgba(6, 14, 48);
}

.cnx-btn {
  height: 60px;
  margin-top: 60px;
  background-color: rgba(6, 14, 48, 0.75);
}

.dmnd-btn {
  height: 43px;
  margin-top: 14px;
  background-color: rgba(6, 14, 48, 0.5);
}

.panels-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  height: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.panel {
  display: flex;
  flex-direction: column;
  z-index: 7;
}

.left-panel {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: all;
}

.right-panel {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
}

.panel .content {
  transition: 0.9s 0.6s ease-in-out;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  gap: 17px;
  background-color: rgba(6, 14, 48, 0.7);
  height: 100vh;
}

.image-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: 1.1s 0.4s ease-in-out;
  height: 90vh;
  z-index: 9;
  background-color: #fff;
}

.demande-accee,
.demande-accee2 {
  width: 392px;
  height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(6, 14, 48, 0.5);
  border: none;
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.demande-accee2 a {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.demande-accee {
  position: absolute;
  right: 11.75rem;
  top: 37rem;
}

.demande-accee2 {
  width: 362px;
  background-color: rgba(79, 129, 255, 1);
  margin-top: 20px;
}

.demande-accee:hover,
.demande-accee2:hover {
  background-color: rgba(6, 14, 48, 1);
  transition: all 1s ease;
  color: #fff;
}

.back-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: none;
  cursor: pointer;
  position: absolute;
  top: -16.5rem;
  left: -45rem;
  display: none;
}

.sign-in-form .back-btn i {
  color: rgba(6, 14, 48, 1);
}

.left-panel .content .logo,
.right-panel .content .logo {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 3px;
  font-family: "Montserrat-Alt1 Light", sans-serif;
  background: linear-gradient(
    to right,
    #71c5ee,
    #53a7d8,
    #3889c1,
    #1e6caa,
    #025091
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.left-panel .content,
.right-panel .content {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel .content {
  margin-top: 60px;
}

.right-panel .content {
  gap: 28px;
}

.right-panel p {
  width: 476px;
  height: 72px;
  text-align: center;
  font-weight: 700;
  line-height: 24px;
  font-size: 20px;
  color: rgba(6, 14, 48, 1);
}

.left-panel .image-login {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-panel .image-login img {
  width: 675px;
  height: 558px;
}

.right-panel .content,
.right-panel .image-login {
  -webkit-transform: translateX(800px);
  transform: translateX(800px);
}

.sign-in-mode #demande-accee {
  display: none;
}

.sign-in-mode #back-btn {
  display: flex;
}

.sign-in-mode::before {
  -webkit-transform: translateX(100%, -50%);
  transform: translateX(100%, -50%);
  right: -80%;
}

.sign-in-mode .left-panel .image-login,
.sign-in-mode .left-panel .content {
  -webkit-transform: translateX(-800px);
  transform: translateX(-800px);
}

.sign-in-mode .right-panel .image-login,
.sign-in-mode .right-panel .content {
  -webkit-transform: translateX(0px);
  transform: translateX(0px);
}

.sign-in-mode .left-panel {
  pointer-events: none;
}

.sign-in-mode .right-panel {
  pointer-events: all;
}

.sign-in-mode .login-signin {
  left: 25%;
}

.sign-in-mode form.login-in-form {
  z-index: 1;
  opacity: 0;
}

.sign-in-mode form.sign-in-form {
  z-index: 2;
  opacity: 1;
}

#demande-accee {
  z-index: 1;
}

.editable-input {
  border: 1px solid #ccc;
  padding: 4px;
  padding-left: 8px;
  border-radius: 4px;
  outline: none;
  font-size: 14px;
  color: var(--blackColor);
  font-family: Montserrat-Medium;
}

/* Add this CSS to your styles */
.hidden {
  display: none !important;
}

/* <div className="customerClass flex-col space-y-1">
            <div className="flex justify-between items-center">
              <h2 className="customerClassTitle">Order Type</h2>
              <div className="selectOptionClass">
                <select
                  className="selectOptionOrderType"
                  name="selectOptionOrderType"
                  id="selectOptionOrderType"
                  value={selectedOption}
                  onChange={handleOptionChange}
                >
                  <option value="deliveryOption">Delivery</option>
                  <option value="pickupOption">Pick Up</option>
                </select>
              </div>
            </div>
            {selectedOption === "deliveryOption" && (
              <div className="flex justify-between items-center">
                <h2 className="customerClassTitle">Courier</h2>
                <div className="selectOptionClass">
                  <select
                    className="selectOptionOrderType"
                    name="selectOptionCourier"
                    id="selectOptionCourier"
                    value={selectedCourier}
                    onChange={handleCourierChange}
                  >
                    <option value="yalidine">Yalidine</option>
                  </select>
                </div>
              </div>
            )}
          </div> */
